/* 가상 클래스 선택자 root의 색상들은 필수 사용요소가 아닙니다.
색상은 자유롭게 구성해주세요. */
:root {
  --main-color: #04c82f;
  --main-bg-color: #e5ffeb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}
.li {
  list-style: none;
  font-size: 30px;
}

header {
  background-color: #04c82f;
  display: flex;
  padding: 20px 0px;
  justify-content: center;
}
body {
  background-color: #e5ffeb;
}
header > #codingImg {
  width: 350px;
  margin: 0 10px;
}
header > span {
  font-size: 50px;
  font-weight: 700;
  color: white;
}

body > .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body > .container > .inputBox {
  margin: 20px;
}
body > .container > .inputBox > .textInput,
body > .container > .inputBox > button {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #e5ffeb;
  border: 1px solid #04c82f;
  color: #04c82f;
  font-size: 30px;
}
